---
apiVersion: v1
kind: Secret
metadata:
  name: opensearch-admin-credentials
  namespace: logging
type: Opaque
data:
  username: "{{ opensearch_admin_user | b64encode }}"
  password: "{{ opensearch_admin_pass | b64encode }}"
