---
apiVersion: v1
kind: Secret
metadata:
  name: opensearch-dashboards-credentials
  namespace: logging
type: Opaque
data:
  username: "{{ opensearch_dashboard_user | b64encode }}"
  password: "{{ opensearch_dashboard_pass | b64encode }}"
